<footer class="footer">
    <img src="../../assets/image/Logo.png" alt="Logo" class="logo" />
    <div class="foot">
      <div class="adresse">
        <h2>LYON</h2>
        <p>
          101 cours Charlemagne <br />
          cs 20033
        </p>
        <p>
          69269 LYON CEDEX 02 <br />
          France
        </p>
        <p>+33 (0)4 26 73 40 00</p>
      </div>
      <hr />
      <div>
        <ul class="legal">
          <li>entions légales</li>
          <li>Données personnelles</li>
          <li>Accessibilité</li>
          <li>Cookie</li>
        </ul>
      </div>
    </div>
  </footer>
