<header>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" routerLink="/">
        <img src="../../assets/image/Logo.png" alt="Logo" class="logo" />
      </a>
  
      <div class="container-fluid block">
        <div class="but">
          <button
            class="navbar-toggler bouton"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#search"
            aria-controls="search"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <img src="../../assets/image/loupe.svg" alt="loupe" class="loupe" />
          </button>
  
          <button
            class="navbar-toggler boutn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="bare">
          <div class="collapse navbar-collapse search" id="search">
            <input
              class="form-control me-2 recherche custom-search"
              type="search"
              [(ngModel)]="term"
              placeholder="Rechercher"
              aria-label="Search"
              (input)="search()"
            />
          </div>
  
          <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/category/Bâtiment">Bâtiment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/category/Services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/category/Fabrication"
                  >Fabrication</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/category/Alimentation"
                  >Alimentation</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <ul class="artisans">
      <li *ngFor="let artisan of artisans">
        <a [routerLink]="['/fiche-artisant', artisan.name]" class="lien">
          {{ artisan.name }} - {{ artisan.specialty }} -
          {{ artisan.location }}
        </a>
      </li>
    </ul>
  </header>
  <router-outlet></router-outlet>
