.logo {
    width: auto;
    height: 150px;
    margin: 0;
    padding-left: 50px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
  }
  .block {
    padding: 0;
    margin: 0;
    display: initial;
  }
  .bare {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  a {
    color: #384050;
  }
  
  a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #384050;
    text-decoration-thickness: 2px;
  }
  nav {
    background-color: #0074C7;
    display: flex;
    flex-direction: column;
  }
  
  .recherche {
    background-color: #f1f8fc;
    border-bottom: 1px solid #0074c7;
    border-right: 1px solid #0074c7;
    border-top: none;
    border-left: none;
    padding: 5px;
    top: 1.5rem;
    right: 3rem;
    border-radius: 0;
    width: 30%;
  }
  
  .loupe {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  button {
    border: none;
    background-color: transparent;
  }
  header {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #f1f8fc;
  }
  .sea {
    position: relative;
    top: 2px;
  }
  .sea:hover {
    border-radius: 50%;
    background-color: aqua;
  }
  .imag {
    position: relative;
    width: 20px;
    top: -3px;
  }
  
  .navbar {
    padding: 0;
  }
  .search {
    padding: 20px;
    justify-content: flex-end;
    width: 100%;
  }
  
  .form-control.recherche {
    padding-right: 40px;
  }
  
  .btn-outline-success.sea {
    position: absolute;
    top: 0;
    right: 6%;
    padding: 0;
    width: 25px;
    height: 25px;
  }
  .men {
    display: flex;
    flex-direction: column;
  }
  .head {
    display: flex;
    flex-direction: column;
  }
  
  .cont {
    display: flex;
    justify-content: space-between;
  }
  
  .menu {
    padding-left: 10px;
    justify-content: flex-start;
  }
  .bloc {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .but {
    padding-left: 30px;
  }
  .artisans {
    padding: 10px;
  }
  