li {
    list-style-type: decimal;
    color: #384050;
  }
  
  h2 {
    color: #00497c;
  }
  h3 {
    color: #00497c;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  .home {
    margin-left: 20px;
    margin-top: 15px;
  }
  .card-title {
    color: #00497c;
    text-decoration: underline;
    text-decoration-color: #00497c;
  }
  .card {
    margin: 20px;
    border-color: #0074c7;
  }
  .card:hover {
    border-color: #00497c;
  }
  p {
    text-decoration: none;
    color: #0074c7;
  }
  p:hover {
    color: #00497c;
  }
  .title {
    position: relative;
    padding-top: 25px;
  }
  .title::before {
    position: absolute;
    margin-top: 10px;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 0.4rem;
    content: "";
    background-color: #82b864;
  }
  .red::before {
    background-color: #cd2c2e;
  }
  
  .boucle {
    padding: 0;
    margin-right: 0;
  }